<div class="container mt-5">
  <h1>Create a Quiz for Activity: <%= @activity.title %></h1>
  <p><strong>Description:</strong> <%= @activity.description %></p>
  <p><strong>Level:</strong> <%= @activity.level %></p>

  <h3>Add a New Question</h3>
<div id="question_form">
  <%= render partial: "questions/form", locals: { question: Question.new, activity: @activity } %>
</div>
</div>
