<div class="container mt-5">
  <!-- Cabeçalho do Dashboard -->
  <div class="text-center mb-4">
    <h1>Welcome, Student!</h1>
    <p>This is your dashboard.</p>
    <%= link_to "Explore All Activities", activities_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>
