<div class="container vh-100 d-flex justify-content-center align-items-center">
  <div class="text-center card shadow p-4">
    <h1>Welcome, Student!</h1>
    <p>This is your dashboard.</p>
    <%= link_to "Explore All Activities", activities_path, class: "btn btn-primary btn-lg mt-3" %>
  </div>
</div>
