<% flash.each do |key, value| %>
  <% next unless value.is_a?(String) %>
  <% css = { "notice" => "alert-success", "alert" => "alert-error" }.fetch(key.to_s, "alert-info") %>
  <div class="alert <%= css %>"><%= value %></div>
<% end %>
